<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/styles.css">

  <link rel="preconnect" href="https://fonts.bunny.net">
  <link href="https://fonts.bunny.net/css?family=Road+Rage:400" rel="stylesheet" />
</head>

<body>

  <div class="wrapper">
    <header>
      <h1 class="site-title | flow">{{ title }}</h1>
    </header>
    <main>
      <article class="flow">
        <h2>Welcome</h2>
        <p>{{ content | safe }}</p>
      </article>
    </main>
    <nav>
      {% include("nav.njk") %}
    </nav>
    <footer class="flow">
      <p>&copy;fLaMEd</p>
    </footer>
  </div>

</body>

</html>