
<ul>
  <li><a href="/" class="nav-link">Home</a></li>

  <li>
    <span class="nav-header">The Band</span>
    <ul class="submenu">
      <li><a href="/biography/" class="nav-link">Biography</a></li>
      <li><a href="/members/" class="nav-link">Members</a></li>
    </ul>
  </li>

  <li>
    <span class="nav-header">The Music</span>
    <ul class="submenu">
      <li><a href="/discography/" class="nav-link">Discography</a></li>
      <li><a href="/lyrics/" class="nav-link">Lyrics</a></li>
      <li><a href="/tabs/" class="nav-link">Guitar Tabs</a></li>
    </ul>
  </li>

  <li>
    <span class="nav-header">Multimedia</span>
    <ul class="submenu">
      <li><a href="/videos/" class="nav-link">Videos</a></li>
      <li><a href="/music/" class="nav-link">Music</a></li>
      <li><a href="/photos/" class="nav-link">Photos</a></li>
      <li><a href="/magazines/" class="nav-link">Magazines</a></li>
    </ul>
  </li>

  <li>
    <span class="nav-header">Downloads</span>
    <ul class="submenu">
      <li><a href="/downloads/wallpapers/" class="nav-link">Wallpapers</a></li>
      <li><a href="/downloads/winamp-skins/" class="nav-link">Winamp Skins</a></li>
      <li><a href="/downloads/screensavers/" class="nav-link">Screensavers</a></li>
    </ul>
  </li>

  <li>
    <span class="nav-header">Website</span>
    <ul class="submenu">
      <li><a href="/about/" class="nav-link">About</a></li>
      <li><a href="/contact/" class="nav-link">Contact</a></li>
      <li><a href="/credits/" class="nav-link">Credits</a></li>
    </ul>
  </li>
</ul>
