:root {
  --background: #2B2B2B;
  --text: #EDEDED;
  --primary: #8B0000;
  --secondary: #CCCCCC;
  --accent: #FF0000;

  --muted: #3A3A3A;
  --slate: #4B4B4B;
  --charcoal: #353535;

  --step--2: clamp(0.5627rem, 0.7403rem + -0.2292vi, 0.6944rem);
  --step--1: clamp(0.7956rem, 0.8465rem + -0.0656vi, 0.8333rem);
  --step-0: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
  --step-1: clamp(1.2rem, 1.0641rem + 0.6796vi, 1.5908rem);
  --step-2: clamp(1.44rem, 1.1585rem + 1.4075vi, 2.2493rem);
  --step-3: clamp(1.728rem, 1.2228rem + 2.5262vi, 3.1805rem);
  --step-4: clamp(2.0736rem, 1.2306rem + 4.2151vi, 4.4973rem);
  --step-5: clamp(2.4883rem, 1.1419rem + 6.7319vi, 6.3592rem);

  --font-display: 'Road Rage', display;
  --font-base: system-ui, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  text-wrap: pretty;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--background);
  background-image: url('/assets/background.png');
  background-repeat: repeat;
  background-size: auto;
  color: var(--text);
  font-family: var(--font-base);
  font-size: var(--step-0);
  line-height: 1.6;
}

header,
nav,
main,
footer {
  background-color: var(--background);
  border: var(--slate) 4px solid;
}

h1, h2, h3 {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: var(--step-5);
  color: var(--primary)
}

h2 {
  font-size: var(--step-3);
  color: var(--primary)
}

h3 {
  font-size: var(--step-1);
}

a {
  color: var(--accent);
}

a:hover,
a:focus {
  color: var(--secondary)
}

pre {
  font: inherit;
  text-wrap: auto;
}

::marker {
  color: var(--primary)
}

.flow * + * {
  margin-top: var(--flow-space, 1em);
}

h1 {
  --flow-space: 2em;
}

h2 {
  --flow-space: 1.5em;
}

.site-title {
  font-family: var(--font-display);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > p {
  text-align: center;
}

/* layout */
header {
  grid-area: header;
  padding: 20px;
}

main {
  grid-area: content;
  padding: 20px;
  max-width: 680px;
}

nav {
  grid-area: sidebar;
}

footer {
  padding: 20px;
  grid-area: footer;
}

.wrapper {
  max-width: calc(968px - 15px);
  padding: 12px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "header  header"
    "sidebar content"
    "footer  footer";
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 4fr;
    grid-template-areas:
      "header"
      "content"
      "sidebar"
      "footer";
  }
}

/* Navigation */

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 10px;
}

.nav-header {
  color: var(--primary);
  font-weight: bold;
  font-size: var(--step-1);
  margin-left: 5px;
  margin-bottom: 5px;
}

.submenu {
  margin-left: 10px;
}

.nav-link {
  color: var(--text);
  text-decoration: none;
  padding-left: 5px;
}

.nav-link:hover {
  color: var(--accent);
}